////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

//////////////////////////////
// Cross-Browser Options
//////////////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

//////////////////////////////
// Jacket Wrappers
//////////////////////////////
$jacket: 'base';

//////////////////////////////
// Breakpoint Settings
//////////////////////////////
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

//////////////////////////////
// Import Normalize
//////////////////////////////
@import 'normalize';

////////////////////////
// Compass Extensions
////////////////////////
@import 'singularitygs';
@import 'toolkit';
@import 'toolkit/carousel';
@import 'singularity-extras/generators';
@import 'jacket';
@import "eq";

//////////////////////////////
// Global Imports
//////////////////////////////
@import "global/variables/all";
@import "global/functions/all";
@import "global/mixins/all";
@import "global/extends/all";

//////////////////////////////
// Partial Imports
//////////////////////////////
@import "components/body";
@import "components/headers";
@import "components/regions";
@import "components/recipe";
@import "components/ingredients";
@import "components/directions";
@import "components/media";