$header-font-family: $font-dec;
$header-line-height: $line-height;
$header-text-transform: uppercase;

$header-margin-top: 0;
$header-margin-bottom: 0;

$header-primary-color: $primary;
$header-secondary-color: $secondary;
$header-tertiary-color: $tertiary;

$header-extend: true;