//////////////////////////////
// Cross-Browser Options
//////////////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

//////////////////////////////
// Jacket Wrappers
//////////////////////////////
$jacket: 'css animations';

//////////////////////////////
// Breakpoint Settings
//////////////////////////////
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

//////////////////////////////
// Compass Extensions
//////////////////////////////
@import 'breakpoint';
@import 'toolkit/carousel';
@import 'jacket';

////////////////////////
// Global Imports
////////////////////////
@import 'global/variables/all';
@import 'global/functions/all';
@import 'global/mixins/all';
@import 'global/extends/all';

//////////////////////////////
// Partial Imports
//////////////////////////////
@import 'partials/media';