$media-border-width: $border-width;

$media-primary-color: $primary;
$media-secondary-color: $secondary;
$media-tertiary-color: $tertiary;

$media-border-style: outset;
$media-shared-margin: .25em 0;

$media-carousel-items: 5;
$media-carousel-animation: start;
$media-carousel-margin-bottom: .5em;

$media-extend: true;
$media-extend-region: true;
$media-extend-shared: true;