.recipe footer {
  font-style: italic;

  span {
    margin-right: .5em;
  }
}

.ingredients {
  @include grid-span(3, 3);
  @include push(2, 1);

  ul {
    list-style: none;
    padding-left: 1em;
  }
}