.recipe footer {
  font-style: italic;

  span {
    margin-right: .5em;
  }
}

.ingredients {
  @include breakpoint($one-column-to-two) {
    @include grid-span(1, 1);
  }

  ul {
    list-style: none;
    padding-left: 1em;
  }
}