.media {
  @include grid-span(2, 1);
  @include pull(8, 1);
  clear: none;
  float: right;
  margin-right: grid-span(3, 1) + gutter-span($gutters);
}

.fluid-video {
  display: none;
  @extend %media-shared;

  @include media-border($primary);
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($tertiary-colors) {
    @include media-border($tertiary);
  }
}

.carousel {
  @extend %media-shared;
  margin-bottom: .5em;

  @include media-border($primary);
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($tertiary-colors) {
    @include media-border($tertiary);
  }
}