.media {
  @include breakpoint($one-column-to-two) {
    @include grid-span(1, 1);
    clear: left;
  }
  @include breakpoint($two-columns-to-three) {
    @include grid-span(1, 1);
  }
}

.fluid-video {
  display: none;
  @extend %media-shared;

  @include media-border($primary);
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($tertiary-colors) {
    @include media-border($tertiary);
  }
}

.carousel {
  @extend %media-shared;
  margin-bottom: .5em;

  @include media-border($primary);
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($secondary-colors) {
    @include media-border($secondary);
  }
  @include breakpoint($tertiary-colors) {
    @include media-border($tertiary);
  }
}