@mixin recipe-core($extend: $recipe-extend, $region-extend: $recipe-extend-region) {
  @if not $extend {
    > h1 {
      @if not $region-extend {
        @include region-core(false);
      }
      @else {
        @extend %region-core;
      }
    }
  }
  @else {
    @extend %recipe-core;
  }
}

@mixin recipe-metadata($extend: $recipe-extend) {
  @if not $extend {
    font-style: $recipe-font-style;

    span {
      display: block;
    }

    @include eq('inline') {
      span {
        display: inline;
        margin-right: $recipe-margin-right;
      }
    }
  }
  @else {
    @extend %recipe-metadata;
  }
}