$body-font-family: $font-serif;
$body-line-height: $line-height;

$body-primary-color: $primary;
$body-secondary-color: $secondary;
$body-tertiary-color: $tertiary;

$body-increased-font-size: 1.25em;

$body-core-extend: true;